
.popup {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: all .5s linear;
}

