.profile__edit-btn-image {
    max-width: 24px;
    max-height: 24px;
}



@media (min-width: 320px) and (max-width: 768px) {
    .profile__edit-btn-image {
        width: 18px;
        height: 18px;
    }
}