.popup__submit {
    width: 358px;
    height: 50px;
    outline: none;
    background-color: black;
    border: none;
    color: white;
    margin: 0 36px 37px 36px;
}
.popup__submit:hover {
    opacity: .6;
    cursor: pointer;
}
@media (min-width: 320px) and (max-width: 768px) {
    .popup__submit {
        width: 238px;
        height: 46px;
        margin: 0 22px 25px 22px;
    }
}