.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 320px) and (max-width: 768px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}