.root {
    background-color: #000000;
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Inter', 'Arial', 'sans-serif';
}

@media (min-width: 768px) and (max-width: 1024px) {
     .root {
        padding: 0 30px;
    }
}

