.profile__edit-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    max-width: 24px;
    max-height: 24px;
    margin: auto 0 auto 18px;
}
.profile__edit-btn:hover {
    opacity: .6;
    cursor: pointer;
}


@media (min-width: 320px) and (max-width: 768px) {
    .profile__edit-btn  {
        width: 18px;
        height: 18px;
        margin: auto 0 auto 10px;
    }
}