.element__like-btn {
    width: 22px;
    height: 19px;
    margin: 22px 20px 3px auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-image: url("../../../images/Group.svg");
}

.element__like-btn:hover {
    opacity: .5;
    cursor: pointer;
}

