.popup__grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-auto-columns: 430px 40px;
    align-items: center;
    align-content: center;
}

@media (min-width: 320px) and (max-width: 768px) {
    .popup__grid {
        grid-auto-columns: 282px 26px;
    }
}