.popup__grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-auto-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
}